body {
    font: 15px Montserrat, sans-serif;
    line-height: 1.8;
    color: white;
    background-color: black;
  }

p {font-size: 15px;}
.margin {margin-bottom: 15px;}

li {font-size: 15px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}


.img-responsive {
	max-height: 600px;
	width: 100%;
}

.col-sm-4 {
	font: 30px;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.columnleft {
  float: left;
  width: 23.33%;
  padding: 3px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.smallcolumn {
  float: center;
  width: 33.33%;
  padding: 3px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.center-list{
    display:table;
    margin:11px auto 11px auto;
}


.gifcolumn {
  float: center;
  width: 23.33%;
  padding: 3px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



.week10gif {
  float: center;
  width: 23.33%;
  padding: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 520px;
    margin: auto;
}

img {
    max-width: 520px;
    max-height: 550px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}


table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid WHITE;

}

th {
height: 50px;
}

.tab { margin-left: 50px; }
