body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: white;
    background-color: black;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}


.img-responsive {
	max-height: 600px;
	width:100%;
}

.col-sm-4 {
	font: 30px;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
